*, *:after, *:before { 	
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
}

* { 
	margin:0; 
	padding:0;
}

body, html { 
	font-size: 100%; 
	padding: 0; 
	margin: 0; 
	height: 100%;
}

body {
 	background: #fff;
 	font-family: arial, sans-serif;
}

/* START OF Change the Navbar Colors/Font/Size */
.navbar .nav > li > a, .navbar .nav > li > a,
.navbar .nav > li.current-menu-item > a, 
.navbar .nav > li.current-menu-ancestor > a {
color:          white;                        
font-size:      16px;
letter-spacing: 3px;
}

/* Adjust Menu colors - Normal */
.navbar .nav > li > a, .navbar .nav > li > a {
color:          lightgray;
text-shadow:    none;
}

/* Adjust Menu colors - Hover */
.navbar .nav > li > a:hover, .navbar .nav > li > a:hover { 
color:          white;                      
text-shadow:    none;
}
/* Adjust Menu colors - Active */
.navbar .nav > li > a:active, .navbar .nav > li > a:active,
.navbar .nav > li.current-menu-item > a, 
.navbar .nav > li.current-menu-ancestor > a,
.navbar .nav > li.current-menu-item > a, 
.navbar .nav > li.current-menu-ancestor > a {
color:          white;
text-shadow:    none;
}
 
/* Adjust dropdown Menu items (blue) text color, (yellow) shading and (green) border */
.dropdown-menu > li > a {
color:          blue;
background:     yellow;
border-bottom:  2px solid green;
}
 
/* Remove the Hover/Focus Colors  */
.navbar .nav > li.current-menu-item > a, .navbar .nav > li.current-menu-ancestor > a, 
.navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
color:          #5A5A5A;
}

.navbar {
	margin-bottom: 0;
}

/* END OF Change the Navbar Colors/Font/Size */

p {
	color: #666666;
	margin-bottom: 50px;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
	color: #3688CC;
	transition: 500ms ease;
	-moz-transition: 500ms ease;
	-webkit-transition: 500ms ease;
	-ms-transition: 500ms ease;
	-o-transition: 500ms ease;
}

a:hover,
a:active {
	opacity: 0.5;
	text-decoration: none;
	color: #3688CC;
}

h2 {
	color: black;
	font-size: 22px;
	font-family: 'Lora', serif;
}

.jumbotron {
	background: url('../img/home-big.jpg');	
	width: 100%;
	height: 0;
	padding-bottom: 33.34%;
	background-size: 100% 100%;
	}


.jumbotron h1 {
	font-size: 0px;
}

.about {
	padding-bottom: 30px;
	padding-top: 30px;
}

#intro {
	color: black;
	font-size: 16px;
	letter-spacing: 1px;
}

#hr {
	opacity: 0.5;
	width: 150px;
	height: auto;
	margin-top: 20px;
	margin-bottom: 50px;
}

.footer {
	text-align: center;
	background-color: #def2f1;
	width: 100%;
	position: absolute;
	height: auto;
	font-size: 13px;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Open Sans', sans-serif;	
}

.btn,
.btn:visited {
	background-color: #e9babd;
	color: black;
	border-color: #e9babd;
}

.btn:active,
.btn:hover,
.btn:focus,
.btn:active:focus {
	background-color: #fb969a;
	color: white;
	border-color: #fb969a;
}

@media screen and (max-width: 720px) {
	
	.jumbotron {
	background: url('../img/home.jpg');	
	width: 100%;
	height: 0;
	padding-bottom: 66.67%;
	background-size: 100% 100%;
	}
}	
