*, *:after, *:before { 	
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
}

* { 
	margin:0; 
	padding:0;
}

body, html { 
	font-size: 100%; 
	padding: 0; 
	height: 100%;
}

body {
 	background: #fff;
 	font-family: arial, sans-serif;
}

.navbar {
	margin-bottom: 0;
	font-family: 'Lora', Serif;
	font-size: 16px;
	letter-spacing: 3px;
}


/* Navbar customization credits http://bootstrap3-menu.codedorigin.com/ */

.navbar-inverse { background-color: #313131}
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { background-color: #313131}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { background-color: #313131}
.dropdown-menu { background-color: #313131}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #313131}
.navbar-inverse { background-image: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }
.navbar-inverse { border-color: #313131}
.navbar-inverse .navbar-brand { color: #CFCFCF}
.navbar-inverse .navbar-brand:hover { color: #CFCFCF}
.navbar-inverse .navbar-nav>li>a { color: #CFCFCF}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color: #5A5A5A}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #FFFFFF}
.dropdown-menu>li>a { color: #CFCFCF}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #5a5a5a}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-bottom-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #FFFFFF}
/*End Nav Bar customization */


p {
	color: #666666;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 50px;
	line-height: 150%;
}

a {
	text-decoration: none;
	color: #3688CC;
	transition: 500ms ease;
	-moz-transition: 500ms ease;
	-webkit-transition: 500ms ease;
	-ms-transition: 500ms ease;
	-o-transition: 500ms ease;
}

a:hover,
a:active {
	opacity: 0.5;
	text-decoration: none;
	color: #3688CC;
}

h2 {
	color: black;
	font-size: 22px;
	font-family: 'Lora', serif;
}

.jumbotron {
	background: url('../img/home-big.jpg');	
	width: 100%;
	height: 0;
	padding-bottom: 33.34%;
	background-size: 100% 100%;
	}


.jumbotron h1 {
	font-size: 0px;
}

.intro {
	padding-top: 30px;
}

#bold {
	color: black;
	font-size: 16px;
	letter-spacing: 1px;
}

#hr {
	opacity: 0.3;
	width: 150px;
	height: auto;
	margin-bottom: 30px;
}

.footer {
	text-align: center;
	background-color: #ddebec;
	width: 100%;
	position: absolute;
	height: auto;
	font-size: 13px;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Open Sans', sans-serif;	
}

.btn,
.btn:visited {
	background-color: #e9babd;
	color: black;
	border-color: #e9babd;
}

.btn:active,
.btn:hover,
.btn:focus,
.btn:active:focus {
	background-color: #fb969a;
	color: white;
	border-color: #fb969a;
}

#mc_embed_signup{
	background:#fff; 
	clear:left; 
	font:15px 'Open Sans',sans-serif; 
	width:100%;
	text-align: center;
	margin: 0 auto;
	width: 500px;
}

#mc_embed_signup .button {
	clear:both; 
	background-color: #e9babd; 
	border: 0 none; 
	border-radius:0px; 
	transition: none; 
	color: black; 
	font-size:15px; 
	margin: 0 auto;
}

#mc_embed_signup .button:hover {
	background-color:#fb969a;
	color: white;
}


@media screen and (max-width: 720px) {
	
	.jumbotron {
	background: url('../img/home.jpg');	
	width: 100%;
	height: 0;
	padding-bottom: 66.67%;
	background-size: 100% 100%;
	}
}	
