.jumbotron {
	background: url('../img/products-big.jpg');	
	width: 100%;
	height: 0;
	padding-bottom: 33.34%;
	background-size: 100% 100%;
	}

.products p {
	margin-bottom: 50px;
}

@media screen and (max-width: 720px) {
	
	.jumbotron {
	background: url('../img/products.jpg');	
	width: 100%;
	height: 0;
	padding-bottom: 66.67%;
	background-size: 100% 100%;
	}
}	